.data/**
env/**
venv/**
.idea/**
media/**
static/**
staticfiles/**
db.sqlite3
analytics/local_settings.py
.DS_Store

import.csv
import_planets.csv
.coverage
.env
.sourcery.yaml

# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__/**
project/__pycache__/